<div class="list-info mat-elevation-z4 hide-on-mob" *ngIf="listInfo$ | async as listInfo else loadingInfo">
    <div class="back" routerLink="/readlist">
        <mat-icon>arrow_back_ios_new</mat-icon>
        Înapoi
    </div>
    <div class="list-info__image-wrapper">
        <span class="list-info__length">{{ listInfo.length }} articole</span>
        <img class="list-info__image" src="/assets/images/readlists-bg.webp">
        <div class="list-info__actions" *ngIf="listInfo.editable && listInfo.own">
            <mat-icon [matMenuTriggerFor]="menu">{{ listInfo.icon }}</mat-icon>
            <mat-icon matTooltip="Copie link-ul" *ngIf="listInfo.public" (click)="onCopyLink()">content_copy</mat-icon>
            <mat-icon [matTooltip]="listInfo.public ? 'Interzice acces pe link' : 'Permite acces pe link'" (click)="onChangeAccess(listInfo)">{{ listInfo.public ? 'public' : 'lock' }}</mat-icon>
            <mat-icon matTooltip="Șterge lista" (click)="onDelete()">delete</mat-icon>
        </div>
    </div> 
    <div class="list-info__content-wrapper">
        <b class="list-info__author">{{ listInfo.author }}</b>
        <div class="list-info__name" *ngIf="listInfo.editable && listInfo.own else listName" (input)="onChangeName(listInfo, name.innerText)" #name contenteditable matTooltip="Click pentru a edita">{{ listInfo.name }}</div>
        <ng-template #listName><div class="list-info__name">{{ listInfo.name }}</div></ng-template>
    </div>
    <mat-menu #menu="matMenu">
        <button class="list-icon-item" mat-menu-item *ngFor="let icon of icons" (click)="onChangeIcon(listInfo, icon)"><mat-icon>{{ icon }}</mat-icon></button>
    </mat-menu>
</div>
<div class="list-articles" *ngIf="articles$ | async as articles else loadingArticles">
    <app-article [articles]="articles.articles" [left]="true" (onScrollToEnd)="onLoadMoreArticles(articles)"></app-article>
</div>
<div class="list-info-mobile hide-on-large" *ngIf="listInfo$ | async as listInfo">
    <div class="list-info-mobile__data">
        <span class="list-info-mobile__author">{{ listInfo.author }}</span>
        <span class="list-info-mobile__name">{{ listInfo.name }}</span>
    </div>
    <div class="list-info-mobile__actions">
        <mat-icon matTooltip="Copie link-ul" *ngIf="listInfo.public" (click)="onCopyLink()">content_copy</mat-icon>
        <mat-icon [matTooltip]="listInfo.public ? 'Interzice acces pe link' : 'Permite acces pe link'" (click)="onChangeAccess(listInfo)">{{ listInfo.public ? 'public' : 'lock' }}</mat-icon>
        <mat-icon matTooltip="Șterge lista" (click)="onDelete()">delete</mat-icon>
    </div>
</div>
<ng-template #loadingInfo >
    <div class="loading-info mat-elevation-z4">
        <div class="loading-info__image"></div>
        <div class="loading-info__title"></div>
    </div>
</ng-template>
<ng-template #loadingArticles>
    <div class="loading-articles">
        <div class="loading-article" *ngFor="let _ of [1, 2, 3, 4, 5, 6]">
            <div class="loading-article__image"></div>
            <div class="loading-article__content-wrapper">
                <div class="loading-article__title"></div>
                <div class="loading-article__text"></div>
            </div>
        </div>
    </div>
</ng-template>