.feature-articles {
    display: flex;
    gap: 1rem;
    app-articles-slider {
        width: 100%;
    }
    app-secondary-articles {
        width: 35%;
    }
}

.articles {
    margin-top: 1.2rem;
    display: flex;
    gap: 1rem;
    app-articles-list {
        width: 100%;
    }
    app-right-sidebar {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .feature-articles {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        app-articles-slider {
            width: 100%;
        }
        app-secondary-articles {
            width: 100%;
        }
    }
    .articles {
        margin-top: .7rem;
        app-articles-list {
            width: 100%;
        }
    }
}