<a class="widget mat-elevation-z4" [href]="widget.url ? widget.url : '#'" target="_blank" *ngIf="widget$ | async as widget">
    <mat-icon class="widget__icon">paid</mat-icon>
    <img src="widget__image" [src]="widget.imageUrl">
    <p class="widget__title">{{ widget.text }}</p>
</a>
<!-- <a class="api-logo mat-elevation-z4" target="_blank" href="http://api.md">
    <img src="/assets/images/api.png">
</a>
<a class="api-logo mat-elevation-z4" target="_blank" href="https://consiliuldepresa.md/ro/page/lista-semnatarilor">
    <img src="/assets/images/codul-deontologic.png">
</a> -->
<ng-container *ngIf="weeklyImg$ | async as weeklyImg">
    <div class="weekly-image mat-elevation-z4" matTooltip="Imaginea săptămânii" *ngIf="weeklyImg.activated">
        <img class="weekly-image__image" [class.not-revealed]="!weeklyImgRevealed" (click)="weeklyImgRevealed = true" src="{{ weeklyImg.imageUrl }}" />
        <div class="weekly-image__details">
            <h2 class="weekly-image__title">{{ weeklyImg.text }}</h2>
            <h5 class="weekly-image__author" *ngIf="weeklyImg.author!">
                <b>Autor:</b> {{ weeklyImg.author }}
            </h5>
        </div>
    </div>
</ng-container>