:host {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 0;
    width: 100%;
    margin-top: .5rem;
    
}
.text {
    font-size: .9rem;
    line-height: 1.6;
    font-weight: 430;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (min-width: 601px) {
    :host {
        margin-top: 1rem;
        width: 70%;
        margin-left: 15%;
    }
    
    .text {
        font-size: 1rem;
    }
}