<div class="article mat-elevation-z4" [class.left]="left" routerLink="/articol/{{article.url}}" *ngFor="let article of articles" #articleRef>
    <div class="article__image-wrapper">
        <img class="article__image" [src]="article.imageUrl" load="lazy">
    </div>
    <div class="article__content-wrapper">
        <span class="article__title">{{ article.title }}</span>
        <p class="article__text hide-on-mob">{{ article.text | articlePreview : 45 }}</p>
        <p class="article__text hide-on-large">{{ article.text | articlePreview : 25 }}</p>
        <div *ngIf="article.details">
            <div class="divider"></div>
            <div class="article__details">
                <div class="article__details-set"><mat-icon>access_time</mat-icon> {{ article.details.date }}</div>
                <div class="article__details-set">| <mat-icon>remove_red_eye</mat-icon> {{ article.details.views }}</div>
            </div>
        </div>
    </div>
</div>