:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    height: auto;
    background-color: var(--background-color-2);
    &__image {
        background-color: var(--loading-color);
        width: 20%;
        height: inherit;
        overflow: hidden;
        height: auto;
        object-fit: cover;
    }
    &__content-wrapper {
        width: 100%;
        padding: 1.1rem 1rem .7rem;
        box-sizing: border-box;
    }
    &__title {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: normal;
    }
    &__text {
        font-size: .9rem;
        line-height: 1.4;
        margin-top: .4rem;
        margin-bottom: .2rem;
    }
    &__details {
        border-top: 1px solid var(--text-color);
        display: flex;
        padding-top: .5rem;
        gap: .3rem;
    }
    &__details-set {
        display: flex;
        gap: .1rem;
        mat-icon {
            vertical-align: middle;
            transform: scale(.8) translateY(-1px);
            line-height: inherit;
        }
        
    }
    
}


.divider {
    width: 80%;
    height: 1px;
    margin-top: .4rem;
}



@media only screen and (min-width: 600px) {
    
    @keyframes pop-up {
        0% { transform: translateY(0) }
        50% { transform: translateY(-3px) }
        100% { transform: translateY(0) }
    }
    .left:hover {
        transform: translateX(10px);
    }
    
    .article-backdrop {
        border-radius: 6px;
        background-color: transparent;
        transition-delay: .5s;
    }

    .article {
        opacity: 0;
        transition: .2s ease-in-out;
        cursor: pointer;
        &__title {
            transition: .25s cubic-bezier(0, 0, 0.2, 1);
        }
        &__details-set {
            &:nth-child(2) {
                animation-delay: .1s!important;
            }
            &:nth-child(3) {
                animation-delay: .2s!important;
            }
        }
        &:hover {
            transform: translateX(-10px);
            .article__title {
                color: var(--primary-color);
            } 
            .article__details-set{
                animation: pop-up .3s ease-in-out;
            }
        }
    }
    .show {
        background-color: var(--primary-color);
        .article {    
            opacity: 1;
            animation: tie-slide-in-up .5s;
        }
    }
}   

@media only screen and (max-width: 600px) {
    :host {
        gap: .7rem;
    }
    .article { 
        &__image-wrapper {
            width: 30%;
        }
        &__content-wrapper {
            padding: .7rem .7rem .3rem;
        }
        &__title {
            font-size: .9rem;
            line-height: normal;
        }
        &__text {
            font-size: .7rem;
            line-height: normal;
        }
        &:hover {
            transform: none;
        }
        &__details {
            display: none;
        }
    }
}