:host {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    position: relative;
}

.editorial {
    height: 12rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    background-size: 100% 5px, auto;
    &__image {
        filter: brightness(90%);
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        transition: .3s;
        border-radius: 6px;
        filter: brightness(.6);
    }
    &__title {
        text-align: center;
        color: #fff;
        width: 75%;
        position: absolute;
        font-weight: bold;
        z-index: 1;
        font-size: 1.3rem;
    }
}





@media only screen and (min-width: 601px) {
    .editorial {
        height: 12rem;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 6px;
        overflow: hidden;
        background-size: 100% 5px, auto;
        opacity: 0;
        &__image {
            filter: brightness(90%);
            height: 100%;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            transition: .3s;
            border-radius: 6px;
            filter: brightness(.6);
        }
        &__title {
            text-align: center;
            color: #fff;
            width: 75%;
            position: absolute;
            font-weight: bold;
            z-index: 1;
            font-size: 1.3rem;
        }
        &:hover .editorial__image {    
            filter: brightness(.5);
            transform: scale(.9);
            border: 2px solid #fff;
        }
    }
    .more-articles {
        cursor: pointer;
        position: absolute;
        right: -2.5%;
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color-2);
        transition: transform .2s;
        transform: scale(0);
        &:hover {
            color: var(--primary-color);
            transform: scale(1.2)!important;
        }
    }
    .show {
        animation: tie-slide-in-up .5s forwards;
        &:nth-child(5) {
            animation: none;
            transform: scale(1);
        }
    }
}

@media only screen and (max-width: 600px) {
    :host {
        margin-top: .7rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        align-items: center;
        position: relative;
    }
    .editorial {
        height: 6rem;
        opacity: 1;
        &__title {
            font-size: .7rem;
            line-height: normal;
            width: 90%;
            margin-bottom: .3rem;
        }
        &:nth-of-type(4) {
            display: none;
        }
    }
    .more-articles {
        display: none;
    }
}