<mat-tab-group [selectedIndex]="selectedTabIndex" *ngIf="surveysResponse.length" (selectedTabChange)="onTabChange()">
    <mat-tab label="{{ i + 1 }}. Chestionar" *ngFor="let survey of surveysResponse; let i = index">
        <div class="survey">
            <mat-form-field>
                <input matInput placeholder="Întrebarea" [(ngModel)]="survey.question" (input)="onChange()">
            </mat-form-field>
            <mat-form-field appearance="outline" *ngFor="let answer of survey.variants; let j = index">
                <mat-label>Variantă de răspuns</mat-label>
                <input matInput [(ngModel)]="answer[0]" (input)="onChange()">
                <button mat-icon-button matSuffix><mat-icon  color="warn" (click)="surveysResponse.answers.splice(j, 1); onChange()">delete</mat-icon></button>
            </mat-form-field>
            <div class="survey__actions">
                <button mat-stroked-button color="primary" (click)="surveysResponse.answers.push(['']); onChange()">+ Variantă de răspuns</button>
                <button mat-stroked-button color="warn" (click)="surveysResponse.splice(i, 1); onChange()">Șterge chestionar</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <button mat-icon-button (click)="onAddSurvey(); onChange()">
                <mat-icon>add</mat-icon>
            </button>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<button class="activate-survey-button" (click)="onAddSurvey(); onChange()" mat-flat-button color="accent" *ngIf="!surveysResponse.length">Activează chestionarele</button>