<ng-container *ngIf="article$ | async as article else loading">
    <div class="main mat-elevation-z4">
        <input class="title-input" [(ngModel)]="article!.title" placeholder="Titlu">
        <input class="subtitle-input" [(ngModel)]="article!.subtitle" placeholder="Subtitlu">
        <app-menu></app-menu>
        <app-text-editor [(text)]="article.text"></app-text-editor>
    </div>
    <div class="additional-content">
        <div class="left-side">
            <app-tags [tags]="article.tags"></app-tags>
            <app-preview-image [imageUrl]="article.imageUrl" [(coverImage)]="article.coverImage" [(coverImageDescription)]="article.coverImageDescription"></app-preview-image>
            <app-surveys [(surveys)]="article.surveys"></app-surveys>
        </div>
        <div class="right-side">
            <div class="control-panel mat-elevation-z4">
                <button mat-icon-button *ngIf="article.url" class="go-to-text-button" routerLink="/articol/{{article.url}}"><mat-icon>open_in_new</mat-icon></button>
                <h2 class="control-panel__title">{{ article.framework ? 'Publică' : 'Actualizează'}}</h2>
                <mat-checkbox [(ngModel)]="article.draft">Ciornă</mat-checkbox>
                <mat-checkbox [(ngModel)]="article.hideViews">Nu afișa numărul de vizualizări</mat-checkbox>
                <mat-checkbox [(ngModel)]="article.hideDate">Nu afișa data publicării</mat-checkbox>
                <mat-checkbox [(ngModel)]="article.restrictComments">Restricționează comentariile</mat-checkbox>
                <div class="control-panel__actions">
                    <button mat-flat-button color="primary" (click)="onPublish(article)">{{ article.framework ? "Publică" : "Salvează" }}</button>
                    <button mat-flat-button color="warn" *ngIf="!article.framework">Șterge</button>
                </div>
            </div>
            <div class="aditional-articles mat-elevation-z4">
                <mat-form-field *ngFor="let aditionalArticle of article.aditionalArticles; let i = index">
                    <mat-label>Articol adițional</mat-label>
                    <button matSuffix mat-icon-button (click)="article.aditionalArticles.splice(i, 1)">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                    <input matInput [(ngModel)]="article.aditionalArticles[i]">
                  </mat-form-field>
                <button mat-stroked-button color="accent" (click)="article.aditionalArticles.push('')">+</button>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loading class="loading">
    <div class="loading__main"></div>
    <div class="additional-content">
        <div class="left-side">
            <div class="loading__tags"></div>
            <div class="loading__preview-image"></div>
            <div class="loading__surveys"></div>
        </div>
        <div class="right-side">
            <div class="loading__control-panel"></div>
            <div class="loading__additional-articles"></div>
        </div>
    </div>
</ng-template>