@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:host {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    
    
}

.sub-title {
    margin-top: .2rem;
    font-weight: lighter;
    font-size: 1rem;
    line-height: normal;
    
}

@media only screen and (min-width: 601px) {
    .title {
        font-size: 5rem;
        opacity: 0;
        animation: tie-slide-in-up .3s ease-in-out forwards;
    }

    .sub-title {
        font-size: 32px;
        opacity: 0;
        animation: tie-slide-in-up .3s .2s ease-in-out forwards;    
    }
}