:host {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: .5rem 0 ;
}

.tag {
    user-select: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    background-color: var(--background-color-2);   
    padding: .5rem 1rem .4rem .8rem;
    font-size: .7rem;
}


@media only screen and (min-width: 600px) {
    :host {
        gap: .8rem;
        margin: 0;
    }
    .tag {
        font-size: 1rem;
        padding: .8rem 1.2rem;
        transition: .2s ease-in-out;
        &:hover {
            color: var(--primary-color);
        }
    }
    .jump {
        animation: jump .3s;
    }

    @keyframes jump {
        0% {transform: translateY(0);}
        50% {transform: translateY(-4px);}
        100% {transform: translateY(0);}
    }
}