:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loading-articles {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.loading-article {
    display: flex;
    gap: 1rem;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--background-color-2);
    &__image {
        height: inherit;
        width: 20%;
        background-color: var(--loading-color);
        animation: loading 1.4s infinite alternate;
    }
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__title {
        width: 70%;
        height: .8rem;
        padding: .5rem 1rem;
        border-radius: 6px;
        background-color: var(--loading-color);
        margin-top: 1rem;
        animation: loading 1.4s infinite alternate;
    }
    &__text {
        width: 90%;
        height: 4rem;
        padding: .5rem 1rem;
        border-radius: 6px;
        background-color: var(--loading-color);
        margin: 1rem 0;
        animation: loading 1.4s infinite alternate;
    }
}

@media only screen and (max-width: 600px) {
    .loading-article__text {
        width: 85%;
        height: 3rem;
    }
}