<ng-container *ngIf="widgets$ | async as widgets">
    <div class="widget">
        <a class="widget__preview mat-elevation-z4" [class.disabled]="!widgets[0]?.activated" [href]="widgets[0]?.link" target="_blank">
            <p class="widget__title">{{ widgets[0]?.text }}</p>
            <img class="widget__image" [src]="widgets[0]?.imageUrl ? widgets[0]?.imageUrl : 'https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png'">
        </a>
        <div class="widget__settings mat-elevation-z4">
            <mat-form-field>
                <mat-label>Text</mat-label>
                <input matInput [(ngModel)]="widgets[0]!.text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Link</mat-label>
                <input [(ngModel)]="widgets[0]!.link" matInput>
            </mat-form-field>
            
            <button mat-flat-button color="accent" (click)="onChangeImage(widgets[0], 0)">Schimbă imaginea</button>
            <div class="widget__actions">
                <button class="widget__save-btn" mat-flat-button color="primary" (click)="onSave(widgets[0], 0)">Salvează</button>
                <mat-checkbox [(ngModel)]="widgets[0]!.activated">Activat</mat-checkbox>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="widget__preview mat-elevation-z4" [class.disabled]="!widgets[2]?.activated" target="_blank">
            <img class="widget__image" [src]="widgets[2]?.imageUrl ? widgets[2]?.imageUrl : 'https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png'">
            <h2 class="widget__title">{{ widgets[2]?.text }}</h2>
            <h5 class="widget__author" *ngIf="widgets[2]?.author!">
                <b>Autor:</b> {{ widgets[2]?.author }}
            </h5>
        </div>
        <div class="widget__settings mat-elevation-z4">
            <mat-form-field>
                <mat-label>Text</mat-label>
                <input matInput [(ngModel)]="widgets[2].text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Autor</mat-label>
                <input matInput [(ngModel)]="widgets[2].author">
            </mat-form-field>
            <button mat-flat-button color="accent" (click)="onChangeImage(widgets[2], 2)">Schimbă imaginea</button>
            <div class="widget__actions">
                <button class="widget__save-btn" mat-flat-button color="primary" (click)="onSave(widgets[2], 2)">Salvează</button>
                <mat-checkbox [(ngModel)]="widgets[2].activated">Activat</mat-checkbox>
            </div>
        </div>
    </div>

    <div class="widget">
        <a class="widget__preview mat-elevation-z4" [class.disabled]="!widgets[1]?.activated" [href]="widgets[1]?.link" target="_blank">
            <img class="widget__image" [src]="widgets[1]?.imageUrl ? widgets[1]?.imageUrl : 'https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png'">
            <p class="widget__title">{{ widgets[1]?.text }}</p>
        </a>
        <div class="widget__settings mat-elevation-z4">
            <mat-form-field>
                <mat-label>Text</mat-label>
                <input matInput [(ngModel)]="widgets[1].text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Link</mat-label>
                <input matInput [(ngModel)]="widgets[1].link">
            </mat-form-field>
            <button mat-flat-button color="accent" (click)="onChangeImage(widgets[1], 1)">Schimbă imaginea</button>
            <div class="widget__actions">
                <button class="widget__save-btn" mat-flat-button color="primary" (click)="onSave(widgets[1], 1)">Salvează</button>
                <mat-checkbox [(ngModel)]="widgets[1].activated">Activat</mat-checkbox>
            </div>
        </div>
    </div>
</ng-container>